/* VARIABLES */
:root {
  /* COLORS */
  /* PRIMARY */
  --clr-red-300: 0 78% 62%;
  --clr-cyan-400: 180 62% 55%;
  --clr-orange-300: 34 97% 64%;
  --clr-blue-300: 212 86% 64%;

  /* NEUTRAL */
  --clr-blue-600: 234 12% 34%;
  --clr-blue-350: 229 6% 66%;
  --clr-white: 0 0% 98%;

  /* FONT */
  --ff-sans: 'Poppins', sans-serif;

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* UTILS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.text-center {
  text-align: center;
}

.font-extralight {
  font-weight: var(--fw-extra-light);
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-blue-350 {
  color: hsl(var(--clr-blue-350));
}

.text-blue-600 {
  color: hsl(var(--clr-blue-600));
}

.accent-red {
  --clr-accent: hsl(var(--clr-red-300));
}

.accent-cyan {
  --clr-accent: hsl(var(--clr-cyan-400));
}

.accent-orange {
  --clr-accent: hsl(var(--clr-orange-300));
}

.accent-blue {
  --clr-accent: hsl(var(--clr-blue-300));
}

/* BASE */
body {
  font-family: var(--ff-sans);
  padding: 5.25em 2em 4.875em;
}

h1,
h2,
h3 {
  color: hsl(var(--clr-blue-600));
}
