/* VARIABLES */
:root {
  /* COLORS */
  /* PRIMARY */
  --clr-red-300: 0 78% 62%;
  --clr-cyan-400: 180 62% 55%;
  --clr-orange-300: 34 97% 64%;
  --clr-blue-300: 212 86% 64%;

  /* NEUTRAL */
  --clr-blue-600: 234 12% 34%;
  --clr-blue-350: 229 6% 66%;
  --clr-white: 0 0% 98%;

  /* FONT */
  --ff-sans: 'Poppins', sans-serif;

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* UTILS */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.text-center {
  text-align: center;
}

.font-extralight {
  font-weight: var(--fw-extra-light);
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-blue-350 {
  color: hsl(var(--clr-blue-350));
}

.text-blue-600 {
  color: hsl(var(--clr-blue-600));
}

.accent-red {
  --clr-accent: hsl(var(--clr-red-300));
}

.accent-cyan {
  --clr-accent: hsl(var(--clr-cyan-400));
}

.accent-orange {
  --clr-accent: hsl(var(--clr-orange-300));
}

.accent-blue {
  --clr-accent: hsl(var(--clr-blue-300));
}

/* BASE */
body {
  font-family: var(--ff-sans);
  padding: 5.25em 2em 4.875em;
}

h1,
h2,
h3 {
  color: hsl(var(--clr-blue-600));
}

/* HEADER */
.header {
  margin-bottom: 5em;
}

.header__title {
  font-size: 1.25rem;
}

.header__desc {
  max-width: 34.7em;
  font-size: 0.9375rem;
  line-height: 1.65;
  margin-top: 1em;
  margin-inline: auto;
}

/* MAIN */
.feature-section__feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.4375em, 21.875em));
  place-content: center;
  gap: 1.5em;
}

.feature-section__feature-item {
  min-height: 13.875em;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.625em 1.75em 1.75em;
  background-color: hsl(var(--clr-white));
  border-radius: 0.5em;
  box-shadow: 0 0.5em 1em hsl(0 0% 0% / 0.1);
  overflow: hidden;
}

.feature-section__feature-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.25em;
  top: 0;
  left: 0;
  background-color: var(--clr-accent);
}

.feature-section__feature-title {
  font-size: 1.125rem;
}

.feature-section__feature-desc {
  font-size: 0.8125rem;
  line-height: 1.8;
  flex: 1;
  margin-top: 0.23em;
}

.feature-section__feature-icon-wrapper {
  max-width: 3.5625em;
  align-self: flex-end;
}

@media screen and (min-width: 22.3em) {
  /* HEADER */
  .header__title {
    font-size: 1.5rem;
  }

  /* MAIN */
  .feature-section__feature-title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 40em) {
  /* BASE */
  body {
    padding-block: 4.875em 5em;
  }

  /* HEADER */
  .header {
    margin-bottom: 4em;
  }

  .header__title {
    font-size: 2.25rem;
  }

  /* MAIN */
  .feature-section__feature-item {
    min-height: 15.625em;
    padding: 1.9375em 2em 2em;
  }

  .feature-section__feature-desc {
    margin-top: 0.61em;
  }

  .feature-section__feature-icon-wrapper {
    max-width: 4em;
  }
}

@media screen and (min-width: 72.6em) {
  /* MAIN */
  .feature-section__feature-item {
    grid-row: 2 / span 2;
  }

  .feature-section__feature-item:nth-of-type(2) {
    grid-row: 1 / span 2;
  }

  .feature-section__feature-item:nth-of-type(3) {
    grid-row: 3 / span 2;
  }
}
